<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/CI_Platform_Web.styles.css" asp-append-version="true" />
</head>
<body>
                                     <!-- Starting Top Header -->
    <div class="abc">
         <div class="container">
            <div class="row">

                <div class="col-6 d-flex align-items-center headerLeft">

                                      <!-- Top-Header Shown In Mobile/Tab -->

                    <ul class="menu">

                      <a href="./stories.html">Stories</a>

                      <div class="dropdown policy-1">
                          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Policy
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="./privacy.html">Privacy Policy</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                      </div>

                      <div class="dropdown col-3">
                          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Country
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">India</a></li>
                              <li><a class="dropdown-item" href="#">Australia</a></li>
                              <li><a class="dropdown-item" href="#">England</a></li>
                          </ul>
                      </div>

                      <div class="dropdown col-3">
                          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              City
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Ahmedabad</a></li>
                              <li><a class="dropdown-item" href="#">Melbourn</a></li>
                              <li><a class="dropdown-item" href="#">London</a></li>
                          </ul>
                      </div>

                      <div class="dropdown col-3">
                          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Theme
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Heritage</a></li>
                              <li><a class="dropdown-item" href="#">Global Warming</a></li>
                              <li><a class="dropdown-item" href="#">Tree Plantesion</a></li>
                          </ul>
                      </div>

                      <div class="dropdown col-3">
                          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Skills
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Communication</a></li>
                              <li><a class="dropdown-item" href="#">Marketing</a></li>
                              <li><a class="dropdown-item" href="#">Quick Learner</a></li>
                          </ul>
                      </div>

                    </ul>

                    <button class="hamburger">
                      <!-- material icons https://material.io/resources/icons/ -->
                      <i class="menuIcon material-icons">menu</i>
                      <i class="closeIcon material-icons">close</i>
                    </button>
   

                                  <!-- Top-Header Shown On PC/Laptop -->


                    <a href="./stories.html" class="topHeader">Stories</a>

                    <div class="dropdown topHeader">
                      <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Policy
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./privacy.html">Privacy Policy</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                    </div>

                </div>

                                  <!-- Common In Both -->

                <div class="col-6 py-2"> 
                    <div class="d-flex align-items-center justify-content-end">

                      <div><img src="images/user-img.png" alt="" class="imgIcon"></div>

                      <div class="dropdown ">
                        <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Evan Donchue
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">My Profile</a></li>
                          <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                          <li><a class="dropdown-item" href="./index.html">Logout</a></li>
                        </ul>
                      </div>

                    </div>
                </div>

            </div>
        </div>
        <hr class="line mt-1 mb-0">    

                                                  <!-- Searching And Filter Header -->

        <div class="container">
            <div class="row">
 
              <div class="col-6 d-flex align-items-center">

                <img src="images/search.png" alt="Search" class="searchIcon">

                <nav class="navbar"> 
                  <div class="container">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search mission..." aria-label="Search">
                    </form>
                  </div>
                </nav>

              </div>
     
              <div class="col-6 d-flex align-items-center">

                <div class="dropdown col-3 filterNav">
                  <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Country 
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Show All The Country List Here</a></li>
                  </ul>
                </div>

                <div class="dropdown col-3 filterNav">
                  <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    City 
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Show All The City List Here</a></li>
                  </ul>
                </div>

                <div class="dropdown col-3 filterNav">
                  <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Theme 
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Show All The Theme List Here</a></li>
                  </ul>
                </div>

                <div class="dropdown col-3 filterNav">
                  <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills 
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Show All The Skills List Here</a></li>
                  </ul>
                </div>

              </div>

            </div>
        </div>
        <hr class="line mt-0>

        @RenderBody()
       
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<script>
  const menu = document.querySelector(".menu");
    const menuItems = document.querySelectorAll(".menuItem");
    const hamburger = document.querySelector(".hamburger");
    const closeIcon = document.querySelector(".closeIcon");
    const menuIcon = document.querySelector(".menuIcon");

    function toggleMenu() {
        if (menu.classList.contains("showMenu")) {
            menu.classList.remove("showMenu");
            closeIcon.style.display = "none";
            menuIcon.style.display = "block";
        } else {
            menu.classList.add("showMenu");
            closeIcon.style.display = "block";
            menuIcon.style.display = "none";
        }
    }

    hamburger.addEventListener("click", toggleMenu);
</script>



</html>