<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
   
            <div class="col-lg-4 align-self-center">
                <div class="row justify-content-center">

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                        <form class="mt-5 " >
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"><p class="formInput">Email address</p></label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="evan.donohue@gmail.com">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label"><p class="formInput">Password</p></label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********">
                            </div>

                            <button type="submit" class="btn btn-primary btnCustom">Login</button>

                            <div class="lost mt-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="forgotPassword"><p class="losttext">Lost your password?</p></a>
                            </div>

                            <div class="lost mt-3">
                                <p class="losttext1">Don’t have an account? <a asp-area="" asp-controller="Home" asp-action="registration">Create an account</a></p>
                            </div>
                            
                            <div class="lost mt-3">
                                <a asp-area="" asp-controller="Home" asp-action="policy"><p class="losttext2">Privacy Policy</p></a>
                            </div>
                            
                        </form>
                              
                    </div>

                </div>

            </div>
        
    
</body>

</html>