
@{
    Layout = "Layout";
}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" class="rel" />
  <link rel="stylesheet" href="~/css/home.css">
  <title>Home</title>
</head>

<body> 


                                        <!-- Starting Top Header -->          


  <div class="container">
    <div class="row">

      <div class="col-6 d-flex align-items-center headerLeft">

        <a href="./stories.html">Stories</a>

        <div class="dropdown ">
          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Policy
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./privacy.html">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

      </div>

      <div class="col-6 py-2"> 
        <div class="d-flex align-items-center float-right">

          <div><img src="images/user-img.png" alt="" class="imgIcon"></div>

          <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Evan Donchue
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
              <li><a class="dropdown-item" href="./index.html">Logout</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>

  <hr class="line mt-1 mb-0">


                                          <!-- Searching And Filter Header -->


  <div class="container navContainer">
    <div class="row">
 
      <div class="col-6 d-flex align-items-center">

        <img src="images/search.png" alt="Search" class="searchIcon">

        <nav class="navbar"> 
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search mission..." aria-label="Search">
            </form>
          </div>
        </nav>

      </div>

      <div class="col-6 d-flex align-items-center"> 

        <div class="dropdown col-3 filterNav">
          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Country 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Show All The Country List Here</a></li>
          </ul>
        </div>

        <div class="dropdown col-3 filterNav">
          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            City 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Show All The City List Here</a></li>
          </ul>
        </div>

        <div class="dropdown col-3 filterNav">
          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Theme 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Show All The Theme List Here</a></li>
          </ul>
        </div>

        <div class="dropdown col-3 filterNav">
          <button class="btn btn-secondary dropdown-toggle btnCustom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Skills 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Show All The Skills List Here</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  
 <hr class="line mt-0">

</body>
<script src="js/bootstrap.bundle.min.js"></script>
</html>