@{
    Layout = "_LayoutHeader";
}

<head>

    <link rel="stylesheet" href="~/css/home.css">
    <title>Reset-Password</title>

</head>

<hr class="line mt-0">


<!------------------------------------------------ Mission Section -------------------------------------------------------------------->
<!-- Mission Filter Btn -->

<div class="container">

    <div class="row">
        <button class="btnFilter btnFlex">
            <p class="filterText">Tree Plantation</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Canada</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Toronto</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Montreal</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Environment</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Nutrition</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Anthropology</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Environmental Science</p><img src="~/images/cancel.png" alt="">
        </button>
        <button class="btnFilter1">Clear all</button>
    </div>

</div>


<!--Explore Mission  -->
<div class="container exploreMission">
    <div class="row align-items-center">
        <p class="heading col-8">Explore <big>72 Missions</big></p>

        <div class="dropdown  col-2">
            <button class="btn dropdown-toggle  missionSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">India</a></li>
                <li><a class="dropdown-item" href="#">Australia</a></li>
                <li><a class="dropdown-item" href="#">England</a></li>
            </ul>
        </div>

        <div class="container mb-3 mt-3 col-2 gridListDiv">
            <button class=" btn-grid gridBtn"><img src="~/images/grid.png" alt="Grid View"></button>
            <button class=" btn-list listBtn"><img src="~/images/list.png" alt="List View"></button>
        </div>

    </div>
</div>


<!--Mission Cards  -->

<div class="container grid-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Nourish-the-Children-in--African-country.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Animal-welfare-&-save-birds-campaign.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Plantation-and-Afforestation-programme.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="col ">
            <div class="card h-100">

                <div class="cardHead">

                    <img src="~/images/Nourish-the-Children-in--African-country.png" class="card-img" alt="...">

                    <div class="shape">
                        <p>Environment</p>
                    </div>

                </div>

                <div class="cardBodyMain">
                    <div class="card-body mt-10">
                        <h4 class="card-title">Grow Trees - On the path to environment sustainability</h4>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>

                        <div class="cardBodyFooter">
                            <p class="ngoName">Tree Canada</p>
                            <div class="rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/selected-star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                                <img src="~/images/star.png" alt="Rating">
                            </div>
                        </div>
                    </div>

                    <div class="missionDurationDiv">
                        <hr class="durationLine">
                        <button class="missionDuration">From 10/03/2023 until 25/03/2023</button>
                        <hr class="durationLine">
                    </div>

                    <div class="missionDeadLine  d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/Seats-left.png" alt="" class="" height="30px" width="30px">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">10</p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <img src="~/images/deadline.png" height="33px" width="33px" alt="">
                            <div class="d-flex flex-column ms-2">
                                <p class="d-inline mb-0 pt-2">09/03/2023 </p>
                                <p class="seat">Deadline</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer d-flex justify-content-center" style="background-color: #ffffff;">
                        <a href="" class="applyBtn btn">Apply <img src="~/images/right-arrow.png" alt="Right Arrow"></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

