@{
    Layout = "_LayoutHeader";
}
<head>

    <link rel="stylesheet" href="~/css/noMissionFound.css">
    <title>Reset-Password</title>

</head>
<hr mt-0>

<!-- Mission Section -->
<!-- Mission Filter Btn -->

<div class="container">

    <div class="row">
        <button class="btnFilter btnFlex">
            <p class="filterText">Tree Plantation</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Canada</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Toronto</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Montreal</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Environment</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Nutrition</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Anthropology</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter btnFlex">
            <p class="filterText">Environmental Science</p><img src="images/cancel.png" alt="">
        </button>
        <button class="btnFilter1">Clear all</button>
    </div>

</div>

@*No Mission Found*@

<div class="container noMissionFound">
    <p>No Mission Found</p>
    <button class="submitMissionBtn">Submit New Mission <img src="images/right-arrow.png" alt="Right Arrow"></button>
</div>
