@{
    Layout = "_LayoutSingleHeader";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/privacyPolicy.css" class="rel" />
    <title>Document</title>
</head>
<body>
    <div class="container title-in-privacy d-flex justify-content-end">
        <!-- OFFCANVAD -->
        <button class="d-md-block d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
            btn
        </button>

        <div class="offcanvas offcanvas-start of-ca-nvas"
             tabindex="-1"
             id="offcanvasExample"
             aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Privacy</h5>
                <button type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <div>
                    <a href="#introduction" class="privacy-link">
                        <span>Introdution</span>
                        <i class="bi bi-chevron-right"></i>
                    </a>
                    <hr class="line-left-privacy" />
                </div>
                <div>
                    <a href="#cookies" class="privacy-link">
                        <span>How does use cookie?</span>
                        <i class="bi bi-chevron-right"></i>
                    </a>
                    <hr class="line-left-privacy" />
                </div>
                <div>
                    <a href="#managecookies" class="privacy-link">
                        <span>How to manage cookies</span>
                        <i class="bi bi-chevron-right"></i>
                    </a>
                    <hr class="line-left-privacy" />
                </div>
                <div>
                    <a href="#preference" class="privacy-link">
                        <span>Preferences?</span>
                        <i class="bi bi-chevron-right"></i>
                    </a>
                    <hr class="line-left-privacy" />
                </div>
            </div>
        </div>
        <!-- OFFCANVAS -->

        <h1 class="fonttitle">Privacy and Cookies Policy</h1>
    </div>

    <div class="container main-div-in-privacy">
        <div class="row">
            <div class="col-lg-3 p-3 d-none d-sm-none d-md-none d-lg-block leftdivprivacy">
                <div class="innerleftdivprivacy">
                    <div>
                        <a href="#introduction" class="privacy-link">
                            <span>Introdution</span>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <hr class="line-left-privacy" />
                    </div>
                    <div>
                        <a href="#cookies" class="privacy-link">
                            <span>How does use cookie?</span>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <hr class="line-left-privacy" />
                    </div>
                    <div>
                        <a href="#managecookies" class="privacy-link">
                            <span>How to manage your cookies</span>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <hr class="line-left-privacy" />
                    </div>
                    <div>
                        <a href="#preference" class="privacy-link">
                            <span>Preferences?</span>
                            <i class="bi bi-chevron-right"></i>
                        </a>
                        <hr class="line-left-privacy" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 p-3 contentdiv">
                <div class="i1" id="introduction">
                    <h3 id="introduction">Introduction</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa q
                    </p>
                    <p>
                        ui officia deserunt mollit anim id est laborum. Sed ut
                        perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui
                    </p>
                    <p>
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est
                        laborum.ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit, sed
                    </p>
                </div>
                <div class="i1" id="cookies">
                    <h3>How does Use Cookies</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <div class="p-1">
                        <h4>Why Optimy Uses These Technologies?</h4>
                        <span>
                            We use these technologies for a number of purposes, such as:
                        </span>
                        <ul>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                            <li>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain. At vero eos et
                                accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="i1" id="managecookies">
                    <h3>How to Manage Your Cookies</h3>
                    <p>
                        sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                        vel eum iure reprehenderit qui in ea voluptate velit esse quam
                        nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                        voluptas nulla pariatur.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum. Sed
                        ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                        est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                        velit,
                    </p>
                </div>
                <div class="i1" id="preference">
                    <h3>Preferences</h3>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

