
@model CI_Platform_Web.Entities.Models.ResetPasswordView

<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="~/css/resetPassword.css">
    <title>Reset-Password</title>

</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mt-2">
                <div id="carouselExampleCaptions" class="carousel slide">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                 class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                                <p class="slideCaption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 align-self-center">
                <div class="row justify-content-center">

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <form class="mt-5" method="post">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Token" type="hidden" />
                            <input asp-for="Email" type="hidden" />


                            <div class="newPasswordTtl">
                                <p class="newTtl">New Password</p>
                                <p class="newSubTtl">Please enter a new password in the fields below.</p>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Password" class="form-label"><p class="formInput">New Password</p></label>
                                <input asp-for="Password"  type="password" class="form-control" id="newPasswordInput" placeholder="**********">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword" class="form-label"><p class="formInput">Confirm New Password</p></label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPasswordInput" placeholder="**********">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btnCustom">Change Password</button>

                            <div class="lost mt-3">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><p class="loginTag">Login</p></a>
                            </div>

                            <div class="lost mt-3">
                                <a asp-area="" asp-controller="Home" asp-action="policy"><p class="policyTag">Privacy Policy</p></a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>


    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


</body>
</html>