@{
    Layout = "_LayoutSingleHeader";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/storyDetail.css">
    <title>Story Details</title>
</head>

<body>

    <!--Image Slider And Side Information-->
    <div class="container mt-3">
        <div class="row ">

            <!-- Image Slider -->

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                <!-- image carausol start -->
                <section class="csec">
                    <div class="container">
                        <div class="carousel">
                            <input type="radio" name="slides" checked="checked" id="slide-1">
                            <input type="radio" name="slides" id="slide-2">
                            <input type="radio" name="slides" id="slide-3">
                            <input type="radio" name="slides" id="slide-4">

                            <ul class="carousel__slides">
                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img src="~/images/img11.png" alt="">
                                        </div>

                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                                                 alt="">
                                        </div>

                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                                 alt="">
                                        </div>

                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img src="~/images/image1.png" alt="">
                                        </div>

                                    </figure>
                                </li>

                            </ul>
                            <ul class="carousel__thumbnails">
                                <li>
                                    <label for="slide-1"><img src="~/images/img11.png" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-2">
                                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                             alt="">
                                    </label>
                                </li>
                                <li>
                                    <label for="slide-3">
                                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                             alt="">
                                    </label>
                                </li>
                                <li>
                                    <label for="slide-4"><img src="~/images/image.png" alt=""></label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </section>
                <!-- image carausel end -->

            </div>

            <!--Side Information-->

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">

                <div class="firstSideDiv mt-3">
                    <div class="userInfoDiv">
                        <img src="~/images/volunteer2.png" class="userImg" alt="user-img">
                        <p class="mb-0">Charles Zampa</p>
                    </div>
                    <div class="views">
                        <span class="ispan">
                            <img src="~/images/eye.png" alt="eyeImg">
                            12,000 Views
                        </span>
                    </div>
                </div>

                <div class="detailDiv">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <p>
                        Ut enim ad minim veniam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam. Sed ut perspiciatis unde omnis iste
                        natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                        ab illo inventore.
                    </p>
                </div>

                <div class="buttonDiv">
                    <button class="recommendetionBtn">
                        <img src="~/images/add1.png" alt=""> Recommend to a
                        Co-Worker
                    </button>
                    <button class="openMissionBtn">Open Mission <i class="bi bi-arrow-right"></i></button>
                </div>

            </div>

        </div>
    </div>

    <!--More Information Of The Mission-->
    <div class="container mt-5">
        <div class="row">
            <h5>Grow Trees - On the path to environment sustainability</h5>
        </div>
        <hr>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi quidem aliquam itaque quibusdam laudantium voluptatibus at veritatis aperiam qui possimus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minima quo dolorum nostrum enim voluptate autem.</p>
        <p>
            We use these technologies for a number of purposes, such as:
            <ul>
                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain. </li>
                <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</li>
                <li>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</li>
            </ul>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia pariatur, a doloribus, quaerat optio libero numquam totam tenetur est officia delectus modi consequatur, rem exercitationem beatae asperiores itaque accusantium tempora cumque maxime.
        </p>
    </div>

    <hr class="mt-5">

    <!--Footer-->
    <div class="container mt-4 mb-4">
        <div class="row">
            <a href="#" style="color:black">Privacy Policy</a>
        </div>
    </div>

</body>

</html>