@{
    Layout = "homeLayout";
}

<head>

    <link rel="stylesheet" href="~/css/volunteeringMission.css">
    <title>Reset-Password</title>

</head>

<hr class="line mt-0">



<!-- Volunteering Mission Image And Details -->

<div class="container mt-3">
    <div class="row ">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">


            <!-- image carausol start -->
            <section class="csec">
                <div class="container">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">

                        <ul class="carousel__slides">
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="images/img11.png" alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png"
                                             alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                             alt="">
                                    </div>

                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div>
                                        <img src="images/image1.png" alt="">
                                    </div>

                                </figure>
                            </li>

                        </ul>
                        <ul class="carousel__thumbnails">
                            <li>
                                <label for="slide-1"><img src="images/img11.png" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2">
                                    <img src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                         alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-3">
                                    <img src="images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                         alt="">
                                </label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="images/image.png" alt=""></label>
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <!-- image carausel end -->

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="titlediv">
                <span class="title">CSR initiative stands for Coffee & Farmer Equity</span>
            </div>

            <div class="text">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam.
                </span>
            </div>

            <div class="center-text">
                <span class="ispan"> Plant 10,000 Trees</span>
            </div>

            <div class="d-flex">
                <div class="a d-flex">
                    <div class="image d-flex">
                        <img src="images/Seats-left.png" style="width: 30px; height: 30px" alt="" />
                    </div>
                    <div class="d-flex flex-column ms-2">
                        <span>10</span>
                        <span>seats left</span>
                    </div>
                </div>
                <div class="b d-flex">
                    <div class="image d-flex">
                        <img src="images/Seats-left.png" style="width: 30px; height: 30px" alt="" />
                    </div>
                    <div class="d-flex flex-column ms-2">
                        <span>10</span>
                        <span>seats left</span>
                    </div>
                </div>
            </div>

            <hr>
            <div class="buttonii">
                <button class="btn1"><img src="images/heart1.png" alt="">Add to Favourite</button>
                <button class="btn1"><img src="images/heart1.png" alt="">Add to Favourite</button>
            </div>

            <div class="center-text mt-2">
                <img src="images/star-empty.png" alt="" class="starimg">
                <img src="images/star-empty.png" alt="" class="starimg">
                <img src="images/star-empty.png" alt="" class="starimg">
                <img src="images/star-empty.png" alt="" class="starimg">
                <img src="images/star-empty.png" alt="" class="starimg">
            </div>

            <div class="row gx-2 mt-2">
                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="images/pin1.png" alt="">
                        </div>
                        <div class="belowimg">
                            <span style="font-size: 13px; color: #757575;">City</span>
                            <span style="font-size: 15px;">London</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="images/pin1.png" alt="">
                        </div>
                        <div class="belowimg">
                            <span style="font-size: 13px; color: #757575;">City</span>
                            <span style="font-size: 15px;">London</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="images/pin1.png" alt="">
                        </div>
                        <div class="belowimg">
                            <span style="font-size: 13px; color: #757575;">City</span>
                            <span style="font-size: 15px;">London</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="box1">
                        <div class="image">
                            <img src="images/pin1.png" alt="">
                        </div>
                        <div class="belowimg">
                            <span style="font-size: 13px; color: #757575;">City</span>
                            <span style="font-size: 15px;">London</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="apply  mt-2 d-flex">
                <button class="buttonsi py-2">
                    Apply &nbsp <img src="images/right-arrow.png" alt="" />
                </button>
            </div>


        </div>
    </div>
</div>

<!-- Mission Tabs -->

<div class="container mt-3">
    <div class="row">
        <div class="col-6">

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">
                        Missions
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="false">
                        Organization
                    </button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                        Comments
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <span>Introduction</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>


                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>
            </div>

        </div>

        <div class="col-6">B</div>

    </div>
</div>
