@{
    Layout = "_LayoutAdmin";
}

@model CI_Platform_Web.Entities.ViewModel.CMSViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/user.css" class="rel" />

    <title>Document</title>
</head>
<body>
    <form asp-action="AddEditCms" asp-controller="Admin" onsubmit="return ValidateCms()">
        <input value="0" asp-for="cmsDetails.CmsPageId" id="cmspage_id" hidden />
        <div class="row main-cms-add m-4">

            <div class="edit-cms-title col-12">
                <h3>Edit</h3>
            </div>
            <div class="edit-cms-body p-3 col-12">

                <label class="form-label">Title</label>
                <input asp-for="cmsDetails.Title" id="cmsTitle" class="form-control" type="text" />
                <span class="text-danger d-none" id="title-error">Please enter the title</span>

                <label class="form-label mt-2">Description</label>
                <textarea name="text_editor" id="cmsDesc" asp-for="cmsDetails.Description">{@Model.cmsDetails.Description}</textarea>                                    <span class="text-danger d-none" id="skill-error">Please fill this field</span>                <span class="text-danger d-none" id="title-error">Please enter the title</span>
                <span class="text-danger d-none" id="desc-error">Please enter the description</span>

                <script>
                    CKEDITOR.replace('text_editor');
                    CKEDITOR.config.width = '100%';
                    CKEDITOR.config.height = '30%';
                </script>

                <label class="form-label mt-2">Slug</label>
                <input asp-for="cmsDetails.Slug" id="cmsSlug" class="form-control" type="text" />
                <span class="text-danger d-none" id="slug-error">Please enter the slug</span>


                <label class="form-label mt-2">Status</label>

                <select asp-for="cmsDetails.Status" class="form-select" id="status">
                    <option value="3" selected>Select Status</option>
                    <option value="1">Active</option>
                    <option value="0">InActive</option>
                </select>
                <span class="text-danger d-none" id="status-error">Please select status</span>


            </div>

        </div>
        <div class="save-cancel-btn-div d-flex justify-content-end me-4">
            <a class="text-deco-none cancelBtn" asp-action="CMSPage" asp-controller="Admin">Cancel</a>
            <button type="submit" class="savebtnmodal saveBtn">Save</button>
        </div>
    </form>
</body>
<script>
    function ValidateCms() {
        var title = $('#cmsTitle').val();
        var description = $('#cmsDesc').val();
        var slug = $('#cmsSlug').val();
        var stat = $('#status').val();
        if (title == "") {
            $('#title-error').removeClass('d-none');
            return false;
        }
        else {
            $('#title-error').addClass('d-none');
        }

        if (description == "") {
            $('#desc-error').removeClass('d-none');
            return false;
        }
        else {
            $('#desc-error').addClass('d-none');
        }

        if (slug == "") {
            $('#slug-error').removeClass('d-none');
            return false;
        }
        else{
            $('#slug-error').addClass('d-none');
        }

        if (stat == 3) {
            $('#status-error').removeClass('d-none');
            return false;
        }
        else {
            $('#status-error').addClass('d-none');
        }

        return true;
    }


    $(document).ready(function () {
        console.log("ready")


        console.log("true")
        $('#cmspage_id').val("@ViewBag.cmsID");


    })
</script>
</html>