@{
    Layout = "_LayoutAdmin";
}

@model CI_Platform_Web.Entities.ViewModel.AdminMissionSkillsViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.20.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="~/css/user.css" class="rel" />

    <title>Document</title>
</head>
<body>

    <h3 class="admin-title-top">@ViewData["admin-Title"]</h3>
    <hr class="admin-title-line" />
    <div class="add-btn-div" style="flex-direction:column">


        <button type="button" class="add-btn-admin ps-2 pe-2" onclick="removeSkillDetail()" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus me-1"></i><span>Add</span>
        </button>

        <!--Mission Skill Modal-->
        <form asp-action="AddEditSkill" asp-controller="Admin">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add/Edit Mission Skills</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="container">
                                <input asp-for="skill.SkillId" value="0" id="modalAdminSkillId" hidden />
                                <div class="row mt-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <label for="" class="form-label">Mission Skill</label>
                                        <input class="form-control" id="modalSkill" asp-for="skill.SkillName" />
                                    </div>
                                </div>

                                <div class="row mt-2 mb-4">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <label for="" class="form-label">Status</label>
                                        <select asp-for="skill.Status" class="form-select" id="modalStatus"
                                                aria-label="Default select example">
                                            <option selected styele="max-height:200px">Select Status</option>
                                            <option styele="max-height:200px" value="1">Active</option>
                                            <option styele="max-height:200px" value="0">In-Active</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="cancelBtn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="saveBtn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form>

    </div>
    <div class="table-admin-div-user mt-2">
        <table class="table table-bordered" id="myTable">
            <thead class="table-light">
                <tr>
                    <th scope="col">Skill Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.skills)
                {
                    <tr>
                        <td scope="row">@i.SkillName</td>
                        @if (i.Status == 1)
                        {
                            <td class="green-bold-small">Active</td>
                        }
                        else
                        {
                            <td class="red-bold-small">In-Active</td>
                        }
                        <td>
                            <i class="bi bi-pencil-square color-saffron editBtn" id="@i.SkillId" onclick="loadSkillDetail(this.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                            <i class="bi bi-trash ms-2" onclick="setSkillId(@i.SkillId)" data-bs-toggle="modal" data-bs-target="#DeleteSkill"></i>

                            <!--Delete Modal-->
                            <div class="modal fade" id="DeleteSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog delete-modal-admin">
                                    <div class="modal-content delete-modal-admin">

                                        <div class="modal-body">
                                            <input type="text" id="delete_skill" hidden>
                                            <h3>Confirm Delete</h3>
                                            <div class="mt-2">Are You Sure Want To Delete This Record?</div>
                                            <div class="d-flex justify-content-center mt-4">
                                                <button type="button" class="cancelBtn" data-bs-dismiss="modal">Cancel</button>
                                                <button type="button" class="savebtnmodal saveBtn" onclick="deleteMissionSkill()" data-bs-dismiss="modal">Delete</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
</script>
<script>

    function loadSkillDetail(u) {
        console.log(u);

        $.ajax({
            url: '/Admin/GetSkillDetail?missionSkillId=' + u,
            success: function (data) {
                console.log(data);
                $('#modalAdminSkillId').val(data.skillId)
                $('#modalSkill').val(data.skillName)
                $('#modalStatus').val(data.status)
            }
        })
    }

    function removeSkillDetail() {
        $('#modalAdminSkillId').val('0')
        $('#modalSkill').val('')
        $('#modalStatus').val('Select Status')
    }

    function setSkillId(skill_id) {
        console.log(skill_id);
        $('#delete_skill').val(skill_id)
    }

    function deleteMissionSkill() {
        var id = $('#delete_skill').val()
        console.log(id);
        $.ajax({
            url: '/Admin/DeleteMissionSkill?missionSkillId=' + id,
            success: function (data) {
                console.log(data)
                location.reload()
            },
            error: function (error) {
                alert(error);
            }
        })
    }
</script>


</html>